In [1]:
import numpy as np

In [4]:
import pandas as pd

In [6]:
data = np.reshape(np.arange(9), (3, 3))

In [7]:
data

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [8]:
df1 = pd.DataFrame(data)

In [10]:
df1

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [11]:
df1.columns = ["A", "B", "C"]

In [12]:
df1.index = ["first", "second", "third"]

In [13]:
df1

        A  B  C
first   0  1  2
second  3  4  5
third   6  7  8

In [14]:
df2 = pd.DataFrame(np.random.rand(3,3))

In [15]:
df2

          0         1         2
0  0.803821  0.251631  0.511280
1  0.967186  0.282015  0.110645
2  0.394361  0.923075  0.983219

In [16]:
df2.columns = ["D", "E", "F"]

In [17]:
df2.index = ["first", "second", "third"]

In [18]:
df2

               D         E         F
first   0.803821  0.251631  0.511280
second  0.967186  0.282015  0.110645
third   0.394361  0.923075  0.983219

In [19]:
df3 = pd.concat([df1, df2], axis=1)

In [20]:
df3

        A  B  C         D         E         F
first   0  1  2  0.803821  0.251631  0.511280
second  3  4  5  0.967186  0.282015  0.110645
third   6  7  8  0.394361  0.923075  0.983219

In [21]:
 df3.dtypes

A      int64
B      int64
C      int64
D    float64
E    float64
F    float64
dtype: object

In [22]:
df3.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [23]:
df3.index

Index(['first', 'second', 'third'], dtype='object')

In [28]:
df3['F']

first     0.511280
second    0.110645
third     0.983219
Name: F, dtype: float64

In [29]:
df3.loc["first"]

A    0.000000
B    1.000000
C    2.000000
D    0.803821
E    0.251631
F    0.511280
Name: first, dtype: float64

In [31]:
df3.iloc[0]

A    0.000000
B    1.000000
C    2.000000
D    0.803821
E    0.251631
F    0.511280
Name: first, dtype: float64

In [33]:
df3.iloc[2][3]

0.3943605672607361